#others {
  background-color:white;
  color:green;
}
#funfact {
  background-color:lightcoral;
  color:white;
}

.intro {
  background-color:darkkhaki;
  color:black;
}

h2 {
  border: saddlebrown 3px;
  color: coral;
}

ul {
  background-color: azure;
  list-style: none;
  font-size: 1em;
}